<mat-toolbar class="header">
    <!-- <mat-icon  routerLink="/Home" class="book-icon-a">book</mat-icon> -->
    <img src="../../../assets/Bookstore/education.svg" alt="" srcset="">    
    <div>
      <a routerLink="/homepage" class="bookstoreNavi">
    <span class="bookstorelogo">Book Store</span></a>
  </div>
    <!-- <div class="serchbarDiv">
      <mat-form-field class="serch-bar-field">
        <input type="tel" matInput placeholder="Search" class="serchbar">
        </mat-form-field>
    </div> -->
    <!-- <a class="serch-logo-a" routerLink="/"><mat-icon class="searchlogo">search</mat-icon></a> -->
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="wishlist-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <a class="wishListItem"  class="wishlist-icon" routerLink="/wishlist"><mat-icon matBadge="2" matBadgeColor="warn">favorite</mat-icon></a> 
    </button> -->
    <button mat-icon-button  aria-label="Example icon-button with share icon">
      <a class="addShoppingList" class="cart-icon" routerLink="/orderlist"><mat-icon matBadge="" matBadgeColor="warn" >add_shopping_cart</mat-icon></a>
    </button>
  </mat-toolbar>

  
