
body,html {
    margin: 0;
    height: 50%;
    background-color: #942d2d;
    overflow: hidden;
    height: 100%;
    margin: 0;
    
}

.header {
    padding: 10px 0;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

.form-control{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 25%;
    border-radius: 5px;
    border: 2px solid rgb(211, 204, 204);
    padding: 10px;
    background-color:rgb(226, 238, 224);
    margin-right: 520px;
    
}

#add-form{
text-decoration: none;
margin-top: 2%;

}

.mar{
    margin: 10px auto;
    margin-left: 18%;
}

.btndiv{ 
    display: flex;
    justify-content:space-around;
}
.btn {
    width: 35%;
}

.example-container{
    
    background-color: whitesmoke;
    background-size: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url("../../../assets/Bookstore/backgroundimg2");

}

.mat-form-field-wrapper {
    position: relative;
}


