<app-header></app-header>
<br>
<br>
<div class="image">
<img src="../../../assets/Bookstore/Group 4132.png" alt="" srcset=""> 
</div>
<p class="placed">
    <strong><h2> Order Placed Successfully</h2></strong>
</p>
<p class="text">hurray!!! your order is confirmed <br></p>
<p class="text1">the order id is #123456 save the order id for further</p> <br>
    <p class="text2">communication..</p> <br>

    <div style="margin:0 30px;">
        <table>
            <tr>
                <th>Email us</th>
                <th>Contact us</th>
                <th>Address</th>
            </tr>
            <tr>
                <td>gouthamy219@gmail.com</td>
                <td>+91 9008874237</td>
                <td>#15th Cross, near HSR Layout, Bangalore 562201</td>
            </tr>
        </table>
    </div>

    <button mat-raised-button color="primary" class="buttons" routerLink="/homepage"><strong>CONTINUE SHOPPING</strong></button>